
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}
h1,button{
    font-family: "Poppins", sans-serif;
    font-weight: 600;

}
img{
    max-width: 100%;
    max-height: 100;
}
ul{
    list-style-type: none;

}
header{
    background-image: url(/images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    padding: 40px 60px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 35px;

}
.btn{
    padding: 15px 60px;
    background-color: #ffff;
    border: none;
    border-radius: 35px;
    box-shadow: 0 3px 16px rgba(0, 0,0,0.12);
    cursor: pointer;
    width: max-content;
    transition: all ease-in-out 0.1s;
}
.btn:hover{
    background-color: #0ebef3;  
}
.build-sec{
    display: flex;
    justify-content: center;
    align-items: center;
     /* padding: 60px 0px 20px;  */
    margin: auto;
    padding: 3rem 2rem ;

}
.build{
    width: 45%;
display: flex;
flex-direction: column;
gap: 1.2rem;
}
.illus{
    width: 55%;
}
.build h1{
    font-size: 46px;
    padding-right: 40px;
    margin: 25px 0px;



}
.build button{
    background-color: hsl(322, 100%, 66%);
    color: #ffff;
    padding: 15px 70px;

}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 80px 40px;
}
.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 50px 65px;
    box-shadow: 0 3px 16px rgba(0, 0,0,0.12);
    margin-bottom: 40px;
    border-radius: 10px;

}
.service img{
    max-width: 100%;
    width: 520px;
    padding: 15px 80px 15px 60px;
}
.content{
    padding-left: 70px;
}
.content h2{
    margin: 10px 0px;
}
.content p{
    width: 75%;
}
.left{
    margin-right: 0px;

}
.left p{
    width: 100%;
}
.promo{
    position: relative;
    max-width: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: #ffff;
    padding: 60px 0px;
    box-shadow: 0 3px 16px rgba(0, 0,0,0.12);
    border-radius: 10px;
    margin-bottom: -100px;
}
.promo h1{
    margin-bottom: 15px;
}
.btn-2{
    margin-top: 20px;
    padding: 24px 100px;
    border-radius: 40px;
    background-color: hsl(322, 100%, 66%);
    color: #ffff;
    font-size: 18px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: hsl(192, 100%, 9%);
    color: #ffff;
    padding: 200px 100px 30px;
}

.footer-logo{
    width: 250px;
}
.footer-sec{
    display: flex;
    margin: 40px 0px;
}
.sec-1{
    min-width: 40%;
    width: 40%;

}
.add{
    display: flex;
    align-items: flex-start;
}
.add img{
    margin-top: 4px;
    margin-right: 20px;
}
li{
    margin-bottom: 20px;
    padding-right: 20px;
    opacity: 0.9;
}
.sec-2,
.sec-3,
.sec-4{
    width: 20%;
    margin-left: 30px;
}
.social{ 
    display:flex;
    padding: 0;
}
a{
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    
}
.copy{
    text-align: right;
}
@media (max-width: 992px){
    header{
        padding: 30px 20px;
    }
    .build-sec{
        flex-direction: column;
        text-align: center;

    }
    .build{
        width: 95%;
    }
    .illus{
        margin-top: 30px;
        width: 95%;
    }
    build p,
    .build h1{
        padding: 0;
    }
    .services{
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .service{
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 0px;
    }
    .service-1,
    .service-2{
        flex-direction: column-reverse;
    }

    .service p{
        width: 100%;
        padding: 0;
        margin: auto;
    }
    .content{
        padding-left: 10px;
        padding-right: 10px;
    }
    .content{
        padding-left: 10px;
        padding-right: 10px;
        width: 95%;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .promo{
        width: 90%;
    }
    h1{
        font-size: 28px;
    }
    .promo button{
        padding: 15px 60px;
        font-size: 16px;
    }
    .footer{
        padding-left: 30px;
        padding-right: 0px;
    }
    .footer-sec{
        flex-direction: column;

    }
    li{
        padding-right: 0px;
    }
    .sec-1{
        width: 90px;
        margin-bottom: 40px;
    }
    .sec-2,
    .sec-3,
    .sec-4{
        margin-left: 0;
        width: 100%;
    }
    a{
        margin-left: 0;
    }
    .sec-4{
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin: 10px 0px 0px;
        margin-bottom: -20px;
    }
    .copy{
        text-align: center;

    }


}